{% include 'readingmaterial/include/head1' %}



</head>

</body>
<div class="container">
{% include 'readingmaterial/include/menubar.html' %}

	<h1 align="center"> Link Details </h1>





	
	<h2 align="center">Title: {{ link.link_title }} </h2>

	










	<br><br><br><br>

	
	<div align="center">
		<h5> {{ link.link_text }}</h5>


<br><br><br><br>
    <h3>Video  Links </h3>

	{% if link.video_url_1 %}
		<iframe width="854" height="480" 
		src="{{ link.video_url_1 }}" 
		frameborder="0" allowfullscreen>			
		</iframe>
	{% endif %}





<br><br><br><br>

		<h3>Download Links </h3>
		{% if link.link_url_1 %}
		    <a href="{{link.link_url_1}}" target="_blank"> Download Link 1 </a>		
		{% endif %}


		<br><br><br><br>

		<h3>Download Able files </h3>
		{% if link.file1 %}
		    <a href="{{link.file1.url}}" download> Download Link 1 </a>		
		{% endif %}

		{% if link.file2 %}
		    <a href="{{link.file2.url}}" download> Download Link 2 </a>		
		{% endif %}

		{% if link.file3 %}
		    <a href="{{link.file3.url}}" download>	Download Link 3 </a>		
		{% endif %}



		<br><br><br><br>

		<h3> Images </h3>

		{% if link.image1 %}			   
			<img src="{{link.image1.url}}" class="img-rounded" alt="image1" width="304" height="236">						
		{% endif %}

		{% if link.image2 %}			   
			<img src="{{link.image2.url}}" class="img-rounded" alt="image1" width="304" height="236">						
		{% endif %}


		{% if link.image3 %}			   
			<img src="{{link.image3.url}}" class="img-rounded" alt="image1" width="304" height="236">						
		{% endif %}



		<br><br><br><br>




	</div>







	
	


</div>



</body>
</html>