{% include 'readingmaterial/include/head1' %}



</head>

</body>
<div class="container">
{% include 'readingmaterial/include/menubar.html' %}

	<h1 align="center"> Subscription Plan </h1>

{% if question_set %}
<br><br><br>
   
   <div align="center" >
   <h3 style="color:red">
   <h4 style="color:red"> Sorry This Question Set Is Not Free </h4>
   To View The Question: <h1>{{question_set}}</h1>You Will Have To Subscribe To Any Of These Package
   </h3>
   </div>

<br><br><br><br><br><br>
{% endif %}

<ul  class="list-group">
{% for s in subscription %}
	<li class="list-group-item">
	    <div align="center">
		  <h2><a href="topic/{{ nt.id }}"> {{ s.subscription_plan_title }} </a></h2>
		<h4>
		{% ifequal  s.no_of_exam_per_day -1 %}
			Unlimited	
		{% else %}
		{{s.no_of_exam_per_day}}	
		{% endifequal %}
		Exams Per Day
		</h4>



		<h4>
		{% ifequal  s.subscription_duration -1 %}
			Unlimited	
		{% else %}
		{{s.subscription_duration}}	
		{% endifequal %}
		 Days
		</h4>
		<h4>

		{% ifequal  s.no_of_random_question -1 %}
			Unlimited	
		{% else %}
		{{s.no_of_random_question}}	
		{% endifequal %}

		Random Question

		</h4>

		<h4> Taka: {{s.subscription_fee}}</h4>
		<a href="{% url 'subscription:subscribe_request' s.id %}"><button class="btn">Subscribe Now</button></a>

		</div>





	</li>
	<br><br><br>

{% endfor %}
</ul>




</div>



</body>
</html>