{% include 'readingmaterial/include/head1' %}



</head>

</body>
<div class="container">
{% include 'readingmaterial/include/menubar.html' %}
{% include 'readingmaterial/include/topic_list.html' %}

		<h1 align="center" style="color:green"> {{current_sub_topic.topic}} >> {{current_sub_topic}}'s Reading Content List</h1>


		<ul  class="list-group">
		{% for rcl in readingcontentlist %}
			<li class="list-group-item">
				<h4><a href="{% url 'readingmaterial:content' rcl.id %}">{{ rcl.content_title }}</a></h4>

			</li>
		{% endfor %}
		</ul>


    <br><br>
    <div align="center">
    <h2 >MCQ Question: </h2>
	<a href="{% url 'readingmaterial:readingcontentlist_mcq' current_sub_topic.id 1 %} " target="_blank"><button class="btn" >Show All Mcq</button></a>	
	<a href="{% url 'readingmaterial:readingcontentlist_mcq' current_sub_topic.id 2 %} " target="_blank"><button class="btn" >Sub Contents's Mcq</button></a>	
	<a href="{% url 'readingmaterial:readingcontentlist_mcq' current_sub_topic.id 3 %} " target="_blank"><button class="btn" >Other Mcqs</button></a>
	</div>
	


</div>

</body>
</html>



<!-- 

<h1 align="center"> in reading material readingcontentlist.html page </h1>





{% for rcl in readingcontentlist %}
	<ul>
		<a href="{{ rcl.id }}"><p> {{ rcl.content_title }} </p></a>

	</ul>
{% endfor %} -->