{% include 'readingmaterial/include/head1' %}

{% include 'readingmaterial/include/js/reading_content_details_js.html' %}



{% include 'readingmaterial/include/js/marked_text_js.html' %}




</head>



<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>








<div class="container">
{% include 'readingmaterial/include/menubar.html' %}

<input id='reading_content_id' value="{{ reading_content_id }}" type='hidden'>  </input>






	<h1 align="center"> Reading Material Page   </h1>	




	

	{% if finished %}
	 <a href="{% url 'readingmaterial:content_unfinished' reading_content_id %}">
	 <div align="center"><button class="btn" id="bfinish"> 
	 Mark As Unfinished

	 </button></div></a>
	  {% else  %}
	  

	  <a href="{% url 'readingmaterial:content_finished' reading_content_id %}">
	  <div align="center"><button class="btn" id="bfinish"> 

	  Mark As Finished</button></div></a>

	 {% endif %} 




	











	<h1 align="center">Title: {{ readingcontent.content_title }} </h1>


	<br><br><br><br>

	

	<div class="row"></div>


		<div class="col-sm-9">

	{% if request.user.is_authenticated %}		
	<div align="left"><button id="bAddMarkedText" align='left'>Add Mark Text</button></div>

	<div align="right"><button id="bResetMarkedText" align='center'>Reset Mark Text</button>	</div>
	{% endif %}


        {% if readingcontent.content_body %}

		  <div align="center">
			<h3>Content body </h3>
			<div id="textBody">
			    {% if readingcontent_text %}
			    	{{ readingcontent_text | safe }}
			    
			    {% else %}

			   			{{ readingcontent.content_body | safe }}

			   {% endif %}			

			</div>

		{% endif %}



		

 		
			{% if readingcontent.image1 %}			   
					<img src="{{readingcontent.image1.url}}" class="img-rounded" alt="image1" width="304" height="236">					
			{% endif %}

			{% if readingcontent.image2 %}			   
					<img src="{{readingcontent.image2.url}}" class="img-rounded" alt="image1" width="304" height="236">				
			{% endif %}

			{% if readingcontent.image3 %}			   
					<img src="{{readingcontent.image3.url}}" class="img-rounded" alt="image1" width="304" height="236">					
			{% endif %}

			{% if readingcontent.image4 %}			   
					<img src="{{readingcontent.image4.url}}" class="img-rounded" alt="image1" width="304" height="236">						
			{% endif %}

			{% if readingcontent.image5 %}			   
					<img src="{{readingcontent.image5.url}}" class="img-rounded" alt="image1" width="304" height="236">						
			{% endif %}


			<!--  <img src="image.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236"> 
 -->
		</div>
		</div>



		<div class="col-sm-3">
			<br><br><br>
			{% if request.user.is_authenticated %}
				<h4>Add New Notes</h4>
				<input id='note' name='note' type='textarea' placeholder="Add A New Note " width="100%"></input>				<button id='bAddNote'>Add Note</button>


			<br><br><br>


			    <h4><My Notes: </h4>		
			    <ul id='my_notes' class="list-group">
				    {% for n in note %}
				    <div class="row" id="rowNote{{n.id}}">
				    	<div align="left" class="col-sm-10">
							<li class="list-group-item">
								 {{ n.content_notes }}

							</li>
						</div>
						<div align="right" class="col-sm-2">
							<button id="note{{n.id}}" class="bNoteDelete">Delete</button>
							
						</div>
					</div>
					{% endfor %}
				</ul>

			{% endif %}



		</div>

	</div>




			<br><br><br>			<br><br><br>







<div class="fb-like" data-href="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ request.get_full_path }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

<br> <br> 
<!-- <div class="fb-comments" data-href="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ request.get_full_path }}" data-numposts="5"></div>
 -->


		<br><br><br>			



{% include 'readingmaterial/include/quick_question.html' %}





{% include 'readingmaterial/include/comment.html' %}






















		{% if request.user.is_authenticated %}
			<h4>Add new comment</h4>
			<input id='comment' name='comment' type='textarea' placeholder="'Write a new Comment' " width="100%"></input>
			<button id='bAddComment'>Add Comment </button>

		{% endif %}

		<P>end of comments</P>

	</div>





<br><br><br><br><br><br>
 	<div class="container">
	

		{% include 'readingmaterial/include/mcq_question_complete.html' %}
	</div>











</div>


</body>
</html>