{% include 'readingmaterial/include/head1' %}


</head>

</body>
<div class="container">

{% include 'readingmaterial/include/menubar.html' %}








	<h2 align="center"> List Of Question Category </h2>
	<ul id='' class="list-group">
	    {% for qt in question_topic %}
	    <div class="row" id="">
	    	<div align="left" class="col-sm-10">

              
              {% if qt.is_reading_content %}   
				<p>	<a href="{% url 'question:reading_content'%}">
				<li class="list-group-item">
					 {{ qt.question_topic_text|title }}

				</li>
				</a></p>


               {% else %}

				<p>	<a href="{% url 'question:question_set' qt.id %}">
				<li class="list-group-item">
					 {{ qt.question_topic_text|title }}

				</li>
				</a></p>

				{% endif %}
			</div>
			
		</div>
		{% endfor %}
	</ul>



</div>



</body>
</html>