{% include 'readingmaterial/include/head1' %}


</head>

</body>
<div class="container">

{% include 'readingmaterial/include/menubar.html' %}




	<h1 align="center"> In Question Index Page </h1>



	<!-- {{ question_topic }}
 -->
	<h2 align="center"> List Of Question Category </h2>
	<ul id='' class="list-group">
	    {% for qt in question_topic %}
	    <div class="row" id="">
	    	<div align="left" class="col-sm-10">

				<p>	<a href="{{qt.id}}/questionset/">
				<li class="list-group-item">
					 {{ qt.question_topic_text }}

				</li>
				</a></p>
			</div>
			
		</div>
		{% endfor %}
	</ul>



</div>



</body>
</html>