{% include 'readingmaterial/include/head1' %}



</head>

</body>
<div class="container">


{% include 'readingmaterial/include/menubar.html' %}




	<h1 align="center"> Question Set Page</h1>

<!-- 	{{ question_set }} -->

	<p>Just a paragraph</p>

	<h2 align="center"> List Of Question Sets </h2>
	<ul id='' class="list-group">
	    {% for qs in question_set %}
	    <div class="row" id="">
	    	<div align="left" class="col-sm-10">
				<a href="{{qs.id}}/question/"><li class="list-group-item">
					 {{ qs.question_set_text }}

				</li></a>
			</div>
			
		</div>
		{% endfor %}
	</ul>
	


</div>



</body>
</html>