

<h1 align="center"> Dashboard Menu </h1>
<a href="{% url 'dashboard:notes' %}"><button>My Notes</button></a>
<a href="{% url 'dashboard:mcq_question' %}"><button>Marked Mcq</button></a>
<a href="{% url 'dashboard:quick_question' %}"><button>Short Questions</button></a>
<a href="{% url 'dashboard:notification' %}"><button>Notification</button></a>
<a href="{% url 'dashboard:mysubscription' %}"><button>My Subscription</button></a>

<a href="{% url 'dashboard:myresult' %}"><button>My Exam Result</button></a>

<a href="{% url 'dashboard:message' %}"><button>Message To/From Admin</button></a>

<a href="{% url 'dashboard:finished_content' %}"><button>My Finished Reading Contents</button></a>

<a href="{% url 'blog:mypost'  %}"><button>My Blog Posts</button></a> 

<br><br><br>