{% include 'readingmaterial/include/head1' %}

{% include 'readingmaterial/include/js/paging.html' %}

</head>

</body>
<div class="container">
{% include 'readingmaterial/include/menubar.html' %}

{% include 'dashboard/include/dashboard_menu.html' %}

	{% for rt in reading_topic %}		   
		<a href="{% url 'dashboard:mcq_question_topic' rt.id %} "><button class="btn" value="{{rt.id}}">{{ rt.reading_topic_text }}</button></a>		
	{% endfor %}

	<a href="{% url 'dashboard:mcq_question_topic' 5555 %} "><button class="btn" value=""> All Marked MCQ </button></a>	



{% if mcq_question %}

	<script>
	$(document).ready(function(){


	    $("#bshowall").click(function(){
	    	// console.log("button has been pressed");
	  		$('.explanation').show();
	    });

		$("#bcloseall").click(function(){
			// console.log("button has been pressed");
			$('.explanation').hide();
		});


	});
	</script>


	{% include 'readingmaterial/include/paging_option.html' %}

	<button class="btn" id="bshowall">Show All Answer</button>
	<button class="btn" id="bcloseall">Close All Answer</button>

	
   {% include 'readingmaterial/include/mcq_question_complete.html' %}

	<input type='hidden' id='current_page' />
    <input type='hidden' id='show_per_page' />

    <div id='page_navigation'></div>



{% endif %}






	

</div>

</body>
</html>