{% include 'readingmaterial/include/head1' %}



</head>

</body>
<div class="container">
{% include 'readingmaterial/include/menubar.html' %}
{% include 'dashboard/include/dashboard_menu.html' %}

	<h1 align="center"> My Exam Result </h1>







{% load humanize %}
<table id='table_myresult' class="table table-bordered" >
<thead>
  <tr>
    <th>Question Title</th>

    <th>Date</th>
    <th>Marks</th>
    <th>Position</th>
    <th>Full Result</th>
    <th>Retake Exam </th>

        
    
   </tr>
</thead>


<tbody>
{% for mr in myresult %}
<tr>
	<td> <h4>{{   mr.question_set|title }} </h4>
	</td>
	
	<td> {{ mr.start_date|naturaltime }} </td>
    
    {% if mr.can_publish %}

		<td> {{ mr.marks }} </td>
		<td> {{ mr.position }} </td>
		<td> <a href="{% url 'question:exam_result' mr.question_set.id %}" target="_blank"><button >Show</button> </a></td>
    {% else %}

		<td> Pending </td>
		<td> Pending </td>
		<td> Pending </td>

	{% endif %}




	<td> <a href="{% url 'question:question' mr.question_set.id %}"  target="_blank"><button >Retake</button> </a></td>
	




</tr>

{% endfor %}




    </tbody>
 </table>





</div>



</body>
</html>